rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId}/characters/{characterId} {
      allow get, create, write: if isUserAuthenticated(userId);
    }
    match /users/{userId}/characters/{characterId} {
      allow read: if isAuthenticated();
    }
    match /users/{userId} {
      allow get, create, write: if isUserAuthenticated(userId);
    }

    match /characters/ {
      allow read: if isAuthenticated();
    }
    match /characters/{characterId} {
      allow read: if isAuthenticated();
    }
    match /characters/{characterId} {
      allow write: if resource.data.userRef == '/users/' + request.auth.uid;
    }
  }
}
