#content{
  position: relative;
  margin: 0 auto;
  width: 100vw;
  padding: 0 40px 56px+32px;
  @media (min-width: $WIDTH_SP){
    padding: 56px 12% 64px;
  }
  @media (min-width: $WIDTH_TAB){
    width: calc(100vw - 240px);
    padding: 0 calc( (100vw - 320px) / 2 - 240px ) 64px;
    float: right;
  }
  @media (min-width: $WIDTH_PC){
    width: calc(100vw - 320px);
    padding: 0 calc( (100vw - 320px) / 2 - 320px ) 64px;
  }
}
