.en{
  font-family: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic",
    "Helvetica Neue", Helvetica, Roboto, Arial, Sans-serif;
  font-weight: 500;
}
.mt-8{ margin-top: 8px; }
.mt-16{ margin-top: 16px; }
.mt-24{ margin-top: 24px; }
.fc-theme{ color: $COLOR_THEME }

.headline{
  position: relative;
  display: inline-block;
  font-family: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic",
    "Helvetica Neue", Helvetica, Roboto, Arial, Sans-serif;
  margin: 64px auto 0;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: .15em;
  font-weight: 500;
  z-index: 999;
  color: rgba($COLOR_THEME,.8);
}
.subHeadline{
  margin: 32px 0 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .05em;
  color: rgba($COLOR_MAIN,.6);
}

a.buttonStyle,button.buttonStyle,
.buttonStyle a,.buttonStyle button {
  display: block;
  width: 100%;
  height: 52px;
  padding: 0 16px;
  line-height: 52px;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: .2s ease-out;
}

.inputText{
  min-width: 280px;
  height: 40px;
  padding: 0 12px;
  line-height: 40px;
  border: 2px solid rgba($COLOR_BASE,.1);
  border-radius: 1px;
  font-size: 14px;
  outline: none;
  &:focus{
    border: 2px solid rgba($COLOR_BASE,.2);
  }
  &::placeholder{
    color: rgba($COLOR_BASE,.2);
  }
}
