.en{
  font-family: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic",
    "Helvetica Neue", Helvetica, Roboto, Arial, Sans-serif;
  font-weight: 500;
}

.headline{
  margin: 64px auto 0;
  padding-bottom: 24px;
  font-size: 56px;
  line-height: 1;
  font-weight: 700;
  color: $COLOR_THEME;
}
.subHeadline{
  margin: 64px 0 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .2em;
}

.list-view{
  margin-top: 24px;
  li{
    margin-top: 12px;
  }
  a{
    display: block;
    height: 48px;
    line-height: 48px;
    background: rgba($COLOR_MAIN,.05);
    color: $COLOR_MAIN;
    text-decoration: none;
    border-radius: 12px;
    padding: 0 24px;
  }
}
