.en{
  font-family: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic",
    "Helvetica Neue", Helvetica, Roboto, Arial, Sans-serif;
  font-weight: 500;
}

.headline{
  position: relative;
  display: inline-block;
  font-family: "Avenir Next", "Avenir Neue", "Avenir", Futura, "Century Gothic",
    "Helvetica Neue", Helvetica, Roboto, Arial, Sans-serif;
  margin: 96px auto 0;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: .15em;
  font-weight: 500;
  z-index: 999;
  color: rgba($COLOR_THEME,.8);
}
.subHeadline{
  margin: 64px 0 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .2em;
}
